body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
}

header, footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.column {
    list-style: none;
    padding: 0;
}

.active {
    border: 3px white;
    border-radius: 30px;
    padding: 0 5px;
    color: black;
    background-color: white;
    display: inline-block;
    filter: none;
}

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


nav li {
    margin-right: 30px;
}

nav li a.active img {
    filter: invert(100%);
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    transition: all 0.6s ease-in-out;
    text-decoration: none;
}

nav li a:hover {
    border: 3px white;
    border-radius: 30px;
    padding: 0 5px;
    color: black;
    background-color: white;
    display: inline-block;
}

nav li a img {
    filter: none;
}

nav li a:hover img {
    filter: invert(100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
