body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Mulish, sans-serif;
}

header, footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.center-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 30px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    transition: all 0.6s ease-in-out;
    text-decoration: none;
}

.nav-menu li a:hover {
    border: 3px white;
    border-radius: 10px;
    padding: 0 5px;
    color: black;
    background-color: white;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
}
